<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>
    <img id="pokeTitle" src=https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/English_Pok%C3%A9mon_logo.svg/2000px-English_Pok%C3%A9mon_logo.svg.png>
    <h3>Generation One - An Encyclopedia</h3>
    {{{body}}}
  </body>
</html>
