<a href='/'>Back</a><br />
<img src='{{image}}' style='max-width:200px; max-height:200px' /><br />
<h1>{{name}}</h1>
{{#each type}}<strong>{{this}}</strong>/{{/each}}<br />
<ul>
{{#each pokeRelativeName}}
   <li>{{this}}</li>
{{/each}}
</ul>
